# Virtual environment directories
.env
.venv

# Build and distribution directories
build/
dist/
*.egg-info/

# Python cache and compiled bytecode files
__pycache__/
*.py[cod]

# Log files
*.log

# Additional temporary or backup files
*.tmp
*.bak
*.swp
